<div class='full p10px'>
    <h3>Tooltip</h3>

    <div class='p-card large rounded mt20px p20px'>
      <h5>Custom Tooltip Element </h5>

      <div class='full mt20px'>
        <p class="mb15px">Regular <a class='p-tooltip top'>Tooltip<span>Tooltip</span></a></p>
        <p class="mb15px">Primary <a class='p-tooltip primary top small'>Tooltip<span>Tooltip</span></a></p>
        <p class="mb15px">Right Secondary <a class='p-tooltip secondary right medium'>Tooltip<span>Tooltip</span></a></p>
        <p class="mb15px">Top Warning <a class='p-tooltip top warning regular'>Tooltip<span>Tooltip</span></a></p>
        <p class="mb15px">Left Error <a class='p-tooltip left error'>Tooltip<span>Tooltip</span></a></p>
        <p class="mb15px">Bottom Dark  <a class='p-tooltip bottom dark large'>Tooltip<span>Tooltip</span></a></p>
        <p class="mb15px">Right Error Success <a class='p-tooltip right success xxg'>Tooltip<span>Tooltip</span></a></p>
        <p class="mb15px">Left Error Blue <a class='p-tooltip left blue large'>Tooltip<span>Tooltip</span></a></p>
        <p class="mb15px">Top Orange <a class='p-tooltip top orange big'>Tooltip<span>Tooltip</span></a></p>
        <p class="mb15px">Bottom Black <a class='p-tooltip bottom black small'>Tooltip<span>Tooltip</span></a></p>
      </div>
    </div>

    <div class='p-card large rounded mt20px p20px'>
      <h5>Tooltip using element "Title" Attribute</h5>
      <span class='fs-1 color-gray'><i>(Always on top of the element)</i></span>

      <div class='full mt20px'>
        <p class="mb15px">Regular Primary <a class='regular primary' tooltip='This is a primary tooltip'>Tooltip</a></p>
        <p class="mb15px">Regular Secondary <a class='regular top secondary' tooltip='This is a secondary tooltip'>Tooltip</a></p>
        <p class="mb15px">Regular Red/Error <a class='regular bottom red' tooltip='This is a red tooltip'>Tooltip</a></p>
        <p class="mb15px">Small Light Gray <a class='small disabled' tooltip='Small tooltip'>Tooltip</a></p>
        <p class="mb15px">Medium Success <a class='medium success' tooltip='Medium tooltip'>Tooltip</a></p>
        <p class="mb15px">Big Warning <a class='big warning' tooltip='Big tooltip'>Tooltip</a></p>
        <p class="mb15px">Regular Blue <a class='big blue' tooltip='Big tooltip'>Tooltip</a></p>
        <p class="mb15px">Regular Orange <a class='big orange' tooltip='Big tooltip'>Tooltip</a></p>
        <p class="mb15px">Large Black <a class='large black' tooltip='Large tooltip'>Tooltip</a></p>
        <p class="mb15px">XXG Dark <a class='xxg dark' tooltip='XXG tooltip'>Tooltip</a></p>
        <p class="mb15px">Large Dark <a class='large gray' tooltip='Large tooltip'>Tooltip</a></p>
        <p class="mb15px">Regular White <a class='regular white' tooltip='Regular tooltip'>Tooltip</a></p>
      </div>
    </div>
</div>
