.main-footer {
  border-top: 8px solid var(--orange-80);
  color: var(--orange-90)
}

.footer-links li {
  font-size: 20px;
  padding: 3px 3px 3px 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
  opacity: .9;
}

.footer-links li:hover {
  color: var(--orange-dark);
  transform: translate(-3px, -2px);
  opacity: 1;
}
