@font-face {
  font-family: 'ItauDisplay-Bold';
  src: url('./assets/fonts/itaudisplay_bd-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "itau-icon";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/itaufonts_master_24px_v44.woff") format("woff");
}
@font-face {
  font-family: "ItauText-Regular";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/ItauText_Rg.woff2") format("woff2");
}
@font-face {
  font-family: "ItauText-Light";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/ItauText_Lt.woff2") format("woff2");
}
@font-face {
  font-family: "ItauText-Bold";
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/ItauText_Bd.woff2") format("woff2");
}
@font-face {
  font-family: "ItauDisplay-XBold";
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/itaudisplay_xbd-webfont.woff2") format("woff2");
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: "itau-icon", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  -moz-osx-font-smoothing: grayscale;
}
.icon-itaufonts_5_servicos:before { content: "" }
.icon-itaufonts_50_cinema:before { content: "" }
.icon-itaufonts_50_futebol:before { content: "" }
.icon-itaufonts_50_teatro:before { content: "" }
.icon-itaufonts_acoes:before { content: "" }
.icon-itaufonts_agencia_personalite:before { content: "" }
.icon-itaufonts_agencia:before { content: "" }
.icon-itaufonts_agil_descomplic:before { content: "" }
.icon-itaufonts_ajuda:before { content: "" }
.icon-itaufonts_alimentacao:before { content: "" }
.icon-itaufonts_alvo:before { content: "" }
.icon-itaufonts_antecip_de_recebiveis:before { content: "" }
.icon-itaufonts_aplicacao:before { content: "" }
.icon-itaufonts_aplicativos:before { content: "" }
.icon-itaufonts_aporte_de_capital:before { content: "" }
.icon-itaufonts_ar_condicionado:before { content: "" }
.icon-itaufonts_armario:before { content: "" }
.icon-itaufonts_arroba:before { content: "" }
.icon-itaufonts_assessoria:before { content: "" }
.icon-itaufonts_atend_telefonico:before { content: "" }
.icon-itaufonts_atualizando:before { content: "" }
.icon-itaufonts_autoriz_pelo_celular:before { content: "" }
.icon-itaufonts_balanco_de_caixa:before { content: "" }
.icon-itaufonts_bike:before { content: "" }
.icon-itaufonts_biometria:before { content: "" }
.icon-itaufonts_brilhos_nos_olhos:before { content: "" }
.icon-itaufonts_busca_consulta:before { content: "" }
.icon-itaufonts_caixa_eletronico:before { content: "" }
.icon-itaufonts_caixas_exclusivos:before { content: "" }
.icon-itaufonts_calculadora:before { content: "" }
.icon-itaufonts_calendario:before { content: "" }
.icon-itaufonts_cambio:before { content: "" }
.icon-itaufonts_cartao_de_seguranca:before { content: "" }
.icon-itaufonts_cartao:before { content: "" }
.icon-itaufonts_carteirada:before { content: "" }
.icon-itaufonts_cartoes:before { content: ""; color: #211915; }
.icon-itaufonts_celular_pre_pago:before { content: "" }
.icon-itaufonts_celular:before { content: "" }
.icon-itaufonts_chave_patrimonio:before { content: "" }
.icon-itaufonts_check:before { content: "" }
.icon-itaufonts_cheque:before { content: "" }
.icon-itaufonts_cobranca_ativa:before { content: "" }
.icon-itaufonts_coleta:before { content: "" }
.icon-itaufonts_compras_vendas:before { content: "" }
.icon-itaufonts_comprovante:before { content: "" }
.icon-itaufonts_computador_internet:before { content: "" }
.icon-itaufonts_conexao:before { content: "" }
.icon-itaufonts_configuracoes:before { content: "" }
.icon-itaufonts_cons_investimentos:before { content: "" }
.icon-itaufonts_consorcio_auto:before { content: "" }
.icon-itaufonts_consorcio_imobiliario:before { content: "" }
.icon-itaufonts_consorcio:before { content: "" }
.icon-itaufonts_conta_corrente:before { content: "" }
.icon-itaufonts_contatos:before { content: "" }
.icon-itaufonts_contin_negocios:before { content: "" }
.icon-itaufonts_craques:before { content: "" }
.icon-itaufonts_credito_auto:before { content: "" }
.icon-itaufonts_credito_automatico:before { content: "" }
.icon-itaufonts_credito_consignado:before { content: "" }
.icon-itaufonts_credito_imobiliario:before { content: "" }
.icon-itaufonts_credito_sob_medida:before { content: "" }
.icon-itaufonts_credito:before { content: "" }
.icon-itaufonts_cultura:before { content: "" }
.icon-itaufonts_curtir:before { content: "" }
.icon-itaufonts_debito:before { content: "" }
.icon-itaufonts_deposito:before { content: "" }
.icon-itaufonts_desbloqueio:before { content: "" }
.icon-itaufonts_descurtir:before { content: "" }
.icon-itaufonts_despesas_com_saude:before { content: "" }
.icon-itaufonts_docs:before { content: "" }
.icon-itaufonts_documento:before { content: "" }
.icon-itaufonts_download:before { content: "" }
.icon-itaufonts_e_comercial:before { content: "" }
.icon-itaufonts_educacao_uso_consc:before { content: "" }
.icon-itaufonts_email_resp_rapida:before { content: "" }
.icon-itaufonts_emprestimos:before { content: "" }
.icon-itaufonts_esportes:before { content: "" }
.icon-itaufonts_estrela:before { content: "" }
.icon-itaufonts_excel:before { content: "" }
.icon-itaufonts_exclamacao:before { content: "" }
.icon-itaufonts_excluir:before { content: "" }
.icon-itaufonts_exclusivo_beneficios:before { content: "" }
.icon-itaufonts_exportar:before { content: "" }
.icon-itaufonts_extrato_lancamentos:before { content: "" }
.icon-itaufonts_facebook:before { content: "" }
.icon-itaufonts_fatura:before { content: "" }
.icon-itaufonts_fechar:before { content: "" }
.icon-itaufonts_filtro:before { content: "" }
.icon-itaufonts_foco_inovacao:before { content: "" }
.icon-itaufonts_garantia:before { content: "" }
.icon-itaufonts_ger_dedicados:before { content: "" }
.icon-itaufonts_gerenciador_de_vendas:before { content: "" }
.icon-itaufonts_gerente:before { content: "" }
.icon-itaufonts_gestao_de_crises:before { content: "" }
.icon-itaufonts_hist_de_rentabilidade:before { content: "" }
.icon-itaufonts_impressora:before { content: "" }
.icon-itaufonts_informacao:before { content: "" }
.icon-itaufonts_inss:before { content: "" }
.icon-itaufonts_instagram:before { content: "" }
.icon-itaufonts_maiores_limites:before { content: "" }
.icon-itaufonts_institucional:before { content: "" }
.icon-itaufonts_investimento:before { content: "" }
.icon-itaufonts_ir:before { content: "" }
.icon-itaufonts_iso:before { content: "" }
.icon-itaufonts_itau_30_horas:before { content: "" }
.icon-itaufonts_itoken_aplicativo:before { content: "" }
.icon-itaufonts_itoken_chaveiro:before { content: "" }
.icon-itaufonts_itoken_sms:before { content: "" }
.icon-itaufonts_jornal:before { content: "" }
.icon-itaufonts_juros_descontos:before { content: "" }
.icon-itaufonts_lavagem_de_dinheiro:before { content: "" }
.icon-itaufonts_leitor_cod_barras:before { content: "" }
.icon-itaufonts_lideranca:before { content: "" }
.icon-itaufonts_limites:before { content: "" }
.icon-itaufonts_maiores_limites2:before { content: "" }
.icon-itaufonts_mais:before { content: "" }
.icon-itaufonts_mala:before { content: "" }
.icon-itaufonts_maq_rede_cartao:before { content: ""; color: #211915; }
.icon-itaufonts_maquina_fotografica:before { content: "" }
.icon-itaufonts_maximizar:before { content: "" }
.icon-itaufonts_mercado_noticias:before { content: "" }
.icon-itaufonts_minimizar:before { content: "" }
.icon-itaufonts_mundo_mapa:before { content: "" }
.icon-itaufonts_notificacao:before { content: "" }
.icon-itaufonts_orientador_de_credito:before { content: "" }
.icon-itaufonts_outros:before { content: "" }
.icon-itaufonts_pagamentos_contas:before { content: "" }
.icon-itaufonts_paixao:before { content: "" }
.icon-itaufonts_para_empresa:before { content: "" }
.icon-itaufonts_parcelamento:before { content: "" }
.icon-itaufonts_pare_de_fumar:before { content: "" }
.icon-itaufonts_pdf:before { content: "" }
.icon-itaufonts_perfil_do_investidor:before { content: "" }
.icon-itaufonts_pers_conta:before { content: "" }
.icon-itaufonts_pgto_ao_fornecedor:before { content: "" }
.icon-itaufonts_pjto_sucessorio:before { content: "" }
.icon-itaufonts_portabilidade:before { content: "" }
.icon-itaufonts_pos_maq_adquirente:before { content: "" }
.icon-itaufonts_poupanca:before { content: "" }
.icon-itaufonts_premio:before { content: "" }
.icon-itaufonts_prevencao_de_fraude:before { content: "" }
.icon-itaufonts_previdencia:before { content: "" }
.icon-itaufonts_processos:before { content: "" }
.icon-itaufonts_produtos_servicos:before { content: "" }
.icon-itaufonts_programa_de_pontos:before { content: "" }
.icon-itaufonts_radio:before { content: "" }
.icon-itaufonts_reload:before { content: "" }
.icon-itaufonts_relogio:before { content: "" }
.icon-itaufonts_resgate:before { content: "" }
.icon-itaufonts_residencia:before { content: "" }
.icon-itaufonts_respons_social:before { content: "" }
.icon-itaufonts_restaurar:before { content: "" }
.icon-itaufonts_sair_do_vermelho:before { content: "" }
.icon-itaufonts_salarios:before { content: "" }
.icon-itaufonts_saldo:before { content: "" }
.icon-itaufonts_salvar:before { content: "" }
.icon-itaufonts_saque:before { content: "" }
.icon-itaufonts_seg_informacao:before { content: "" }
.icon-itaufonts_seg_patrimonial:before { content: "" }
.icon-itaufonts_seg_redes_sociais:before { content: "" }
.icon-itaufonts_seguranca:before { content: "" }
.icon-itaufonts_seguro_auto:before { content: "" }
.icon-itaufonts_seguro_cartao:before { content: "" }
.icon-itaufonts_seguro_crianca:before { content: "" }
.icon-itaufonts_seguro_de_credito:before { content: "" }
.icon-itaufonts_seguro_empresas:before { content: "" }
.icon-itaufonts_seguro_mulher:before { content: "" }
.icon-itaufonts_seguro_patrimonial:before { content: "" }
.icon-itaufonts_seguro_prestamista:before { content: "" }
.icon-itaufonts_seguro_renda:before { content: "" }
.icon-itaufonts_seguro_residencia:before { content: "" }
.icon-itaufonts_seguro_resp_social:before { content: "" }
.icon-itaufonts_seguro_transporte:before { content: "" }
.icon-itaufonts_seguro_viagens:before { content: "" }
.icon-itaufonts_seguro_vida:before { content: "" }
.icon-itaufonts_seguros:before { content: "" }
.icon-itaufonts_senha:before { content: "" }
.icon-itaufonts_cifrao:before { content: "" }
.icon-itaufonts_sms_mensagem_chat:before { content: "" }
.icon-itaufonts_sonho_grande:before { content: "" }
.icon-itaufonts_sorriso:before { content: "" }
.icon-itaufonts_sustentabilidade:before { content: "" }
.icon-itaufonts_switch:before { content: "" }
.icon-itaufonts_tablet:before { content: "" }
.icon-itaufonts_telefone:before { content: "" }
.icon-itaufonts_todos_pelo_cliente:before { content: "" }
.icon-itaufonts_tranferencias:before { content: "" }
.icon-itaufonts_transporte:before { content: "" }
.icon-itaufonts_tv:before { content: "" }
.icon-itaufonts_twitter:before { content: "" }
.icon-itaufonts_universitarios:before { content: "" }
.icon-itaufonts_usuario_perfil:before { content: "" }
.icon-itaufonts_veiculo:before { content: "" }
.icon-itaufonts_viagem:before { content: "" }
.icon-itaufonts_vida_sustentavel:before { content: "" }
.icon-itaufonts_vida:before { content: "" }
.icon-itaufonts_video:before { content: "" }
.icon-itaufonts_word:before { content: "" }
.icon-itaufonts_xicara:before { content: "" }
.icon-itaufonts_compartilhar:before { content: "" }
.icon-itaufonts_feedback:before { content: "" }
.icon-itaufonts_relatorios_financeiros:before { content: "" }
.icon-itaufonts_senha_stroke:before { content: "" }
.icon-itaufonts_seta:before { content: "" }
.icon-itaufonts_seta_down:before { content: "" }
.icon-itaufonts_seta_right:before { content: "" }
.icon-itaufonts_seta_up:before { content: "" }
.icon-itaufonts_full_carteiras_digitais:before { content: "" }
.icon-itaufonts_full_selecao_terceiros:before { content: "" }
.icon-itaufonts_chip:before { content: "" }
.icon-itaufonts_checkbox_indeterminado:before { content: "" }
.icon-itaufonts_full_timeline:before { content: "" }
.icon-itaufonts_full_copiar:before { content: "" }
.icon-itaufonts_full_responder:before { content: "" }
.icon-itaufonts_full_seguro_fraude:before { content: "" }
.icon-itaufonts_full_beleza:before { content: "" }
.icon-itaufonts_full_ajuda:before { content: "" }
.icon-itaufonts_full_checkbox:before { content: "" }
.icon-itaufonts_full_enviar:before { content: "" }
.icon-itaufonts_full_suporte:before { content: "" }
.icon-itaufonts_full_compras:before { content: "" }
.icon-itaufonts_full_carteira_digital:before { content: "" }
.icon-itaufonts_full_seguro_pet:before { content: "" }
.icon-itaufonts_full_pet:before { content: "" }
.icon-itaufonts_full_olho_inativo:before { content: "" }
.icon-itaufonts_full_olho_ativo:before { content: "" }
.icon-itaufonts_full_vestuario:before { content: "" }
.icon-itaufonts_full_chat_erro:before { content: "" }
.icon-itaufonts_full_chat_aguardando:before { content: "" }
.icon-itaufonts_full_microfone:before { content: "" }
.icon-itaufonts_full_atendimento:before { content: "" }
.icon-itaufonts_full_venda:before { content: "" }
.icon-itaufonts_full_compra:before { content: "" }
.icon-itaufonts_full_50_cinema:before { content: "" }
.icon-itaufonts_full_50_futebol:before { content: "" }
.icon-itaufonts_full_50_teatro:before { content: "" }
.icon-itaufonts_full_agencia_personalite:before { content: "" }
.icon-itaufonts_full_agencia:before { content: "" }
.icon-itaufonts_full_agil_descomplic:before { content: "" }
.icon-itaufonts_full_alimentacao:before { content: "" }
.icon-itaufonts_full_alvo:before { content: "" }
.icon-itaufonts_full_antecip_de_recebiveis:before { content: "" }
.icon-itaufonts_full_aplicativos:before { content: "" }
.icon-itaufonts_full_aporte_de_capital:before { content: "" }
.icon-itaufonts_full_ar_condicionado:before { content: "" }
.icon-itaufonts_full_armario:before { content: "" }
.icon-itaufonts_full_atualizando:before { content: "" }
.icon-itaufonts_full_autoriz_pelo_celular:before { content: "" }
.icon-itaufonts_full_balanco_de_caixa:before { content: "" }
.icon-itaufonts_full_bike:before { content: "" }
.icon-itaufonts_full_biometria:before { content: "" }
.icon-itaufonts_full_brilhos_nos_olhos:before { content: "" }
.icon-itaufonts_full_busca_consulta:before { content: "" }
.icon-itaufonts_full_caixa_eletronico:before { content: "" }
.icon-itaufonts_full_calendario:before { content: "" }
.icon-itaufonts_full_cambio:before { content: "" }
.icon-itaufonts_full_cartao_de_seguranca:before { content: "" }
.icon-itaufonts_full_cartao:before { content: "" }
.icon-itaufonts_full_cartoes:before { content: ""; color: #211915; }
.icon-itaufonts_full_celular_pre_pago:before { content: "" }
.icon-itaufonts_full_celular:before { content: "" }
.icon-itaufonts_full_chave_patrimonio:before { content: "" }
.icon-itaufonts_full_cheque:before { content: "" }
.icon-itaufonts_full_coleta:before { content: "" }
.icon-itaufonts_full_compras_vendas:before { content: "" }
.icon-itaufonts_full_comprovante:before { content: "" }
.icon-itaufonts_full_computador_internet:before { content: "" }
.icon-itaufonts_full_configuracoes:before { content: "" }
.icon-itaufonts_full_consorcio_auto:before { content: "" }
.icon-itaufonts_full_consorcio_imobiliario:before { content: "" }
.icon-itaufonts_full_consorcio:before { content: "" }
.icon-itaufonts_full_conta_corrente:before { content: "" }
.icon-itaufonts_full_contatos:before { content: "" }
.icon-itaufonts_full_craques:before { content: "" }
.icon-itaufonts_full_credito_auto:before { content: "" }
.icon-itaufonts_full_credito_automatico:before { content: "" }
.icon-itaufonts_full_credito_consignado:before { content: "" }
.icon-itaufonts_full_credito_imobiliario:before { content: "" }
.icon-itaufonts_full_credito_sob_medida:before { content: "" }
.icon-itaufonts_full_credito:before { content: "" }
.icon-itaufonts_full_cultura:before { content: "" }
.icon-itaufonts_full_curtir:before { content: "" }
.icon-itaufonts_full_debito:before { content: "" }
.icon-itaufonts_full_desbloqueio:before { content: "" }
.icon-itaufonts_full_descurtir:before { content: "" }
.icon-itaufonts_full_despesas_com_saude:before { content: "" }
.icon-itaufonts_full_docs:before { content: "" }
.icon-itaufonts_full_documento:before { content: "" }
.icon-itaufonts_full_download:before { content: "" }
.icon-itaufonts_full_educacao_uso_consc:before { content: "" }
.icon-itaufonts_full_email_resp_rapida:before { content: "" }
.icon-itaufonts_full_emprestimos:before { content: "" }
.icon-itaufonts_full_esportes:before { content: "" }
.icon-itaufonts_full_estrela:before { content: "" }
.icon-itaufonts_full_excel:before { content: "" }
.icon-itaufonts_full_exclamacao:before { content: "" }
.icon-itaufonts_full_excluir:before { content: "" }
.icon-itaufonts_full_exclusivo_beneficios:before { content: "" }
.icon-itaufonts_full_exportar:before { content: "" }
.icon-itaufonts_full_facebook:before { content: "" }
.icon-itaufonts_full_fatura:before { content: "" }
.icon-itaufonts_full_filtro:before { content: "" }
.icon-itaufonts_full_foco_inovacao:before { content: "" }
.icon-itaufonts_full_garantia:before { content: "" }
.icon-itaufonts_full_gerenciador_de_vendas:before { content: "" }
.icon-itaufonts_full_gerente:before { content: "" }
.icon-itaufonts_full_gestao_de_crises:before { content: "" }
.icon-itaufonts_full_hist_de_rentabilidade:before { content: "" }
.icon-itaufonts_full_impressora:before { content: "" }
.icon-itaufonts_full_informacao:before { content: "" }
.icon-itaufonts_full_instagram:before { content: "" }
.icon-itaufonts_full_institucional:before { content: "" }
.icon-itaufonts_full_investimento:before { content: "" }
.icon-itaufonts_full_itau_30_horas:before { content: "" }
.icon-itaufonts_full_itoken_aplicativo:before { content: "" }
.icon-itaufonts_full_itoken_chaveiro:before { content: "" }
.icon-itaufonts_full_itoken_sms:before { content: "" }
.icon-itaufonts_full_jornal:before { content: "" }
.icon-itaufonts_full_lavagem_de_dinheiro:before { content: "" }
.icon-itaufonts_full_lideranca:before { content: "" }
.icon-itaufonts_full_limites:before { content: "" }
.icon-itaufonts_full_maiores_limites:before { content: "" }
.icon-itaufonts_full_mala:before { content: "" }
.icon-itaufonts_full_maq_rede_cartao::before { content: ""; color: #211915; }
.icon-itaufonts_full_maquina_fotografica:before { content: "" }
.icon-itaufonts_full_maximizar:before { content: "" }
.icon-itaufonts_full_mercado_noticias:before { content: "" }
.icon-itaufonts_full_minimizar:before { content: "" }
.icon-itaufonts_full_mundo_mapa:before { content: "" }
.icon-itaufonts_full_notificacao:before { content: "" }
.icon-itaufonts_full_orientador_de_credito:before { content: "" }
.icon-itaufonts_full_paixao:before { content: "" }
.icon-itaufonts_full_para_empresa:before { content: "" }
.icon-itaufonts_full_parcelamento:before { content: "" }
.icon-itaufonts_full_pare_de_fumar:before { content: "" }
.icon-itaufonts_full_pdf:before { content: "" }
.icon-itaufonts_full_perfil_do_investidor:before { content: "" }
.icon-itaufonts_full_pers_conta:before { content: "" }
.icon-itaufonts_full_pgto_ao_fornecedor:before { content: "" }
.icon-itaufonts_full_pjto_sucessorio:before { content: "" }
.icon-itaufonts_full_portabilidade:before { content: "" }
.icon-itaufonts_full_pos_maq_adquirente:before { content: "" }
.icon-itaufonts_full_poupanca:before { content: "" }
.icon-itaufonts_full_premio:before { content: "" }
.icon-itaufonts_full_prevencao_de_fraude:before { content: "" }
.icon-itaufonts_full_previdencia:before { content: "" }
.icon-itaufonts_full_processos:before { content: "" }
.icon-itaufonts_full_produtos_servicos:before { content: "" }
.icon-itaufonts_full_programa_de_pontos:before { content: "" }
.icon-itaufonts_full_radio:before { content: "" }
.icon-itaufonts_full_relogio:before { content: "" }
.icon-itaufonts_full_residencia:before { content: "" }
.icon-itaufonts_full_respons_social:before { content: "" }
.icon-itaufonts_full_restaurar:before { content: "" }
.icon-itaufonts_full_salarios:before { content: "" }
.icon-itaufonts_full_saldo:before { content: "" }
.icon-itaufonts_full_salvar:before { content: "" }
.icon-itaufonts_full_seg_informacao:before { content: "" }
.icon-itaufonts_full_seg_patrimonial:before { content: "" }
.icon-itaufonts_full_seg_redes_sociais:before { content: "" }
.icon-itaufonts_full_seguranca:before { content: "" }
.icon-itaufonts_full_seguro_auto:before { content: "" }
.icon-itaufonts_full_seguro_cartao:before { content: "" }
.icon-itaufonts_full_seguro_crianca:before { content: "" }
.icon-itaufonts_full_seguro_de_credito:before { content: "" }
.icon-itaufonts_full_seguro_empresas:before { content: "" }
.icon-itaufonts_full_seguro_mulher:before { content: "" }
.icon-itaufonts_full_seguro_patrimonial:before { content: "" }
.icon-itaufonts_full_seguro_prestamista:before { content: "" }
.icon-itaufonts_full_seguro_renda:before { content: "" }
.icon-itaufonts_full_seguro_residencia:before { content: "" }
.icon-itaufonts_full_seguro_resp_social:before { content: "" }
.icon-itaufonts_full_seguro_transporte:before { content: "" }
.icon-itaufonts_full_seguro_viagens:before { content: "" }
.icon-itaufonts_full_seguro_vida:before { content: "" }
.icon-itaufonts_full_senha:before { content: "" }
.icon-itaufonts_full_sms_mensagem_chat:before { content: "" }
.icon-itaufonts_full_sonho_grande:before { content: "" }
.icon-itaufonts_full_sorriso:before { content: "" }
.icon-itaufonts_full_sustentabilidade:before { content: "" }
.icon-itaufonts_full_switch:before { content: "" }
.icon-itaufonts_full_tablet:before { content: "" }
.icon-itaufonts_full_telefone:before { content: "" }
.icon-itaufonts_full_todos_pelo_cliente:before { content: "" }
.icon-itaufonts_full_transporte:before { content: "" }
.icon-itaufonts_full_twitter:before { content: "" }
.icon-itaufonts_full_universitarios:before { content: "" }
.icon-itaufonts_full_usuario_perfil:before { content: "" }
.icon-itaufonts_full_veiculo:before { content: "" }
.icon-itaufonts_full_viagem:before { content: "" }
.icon-itaufonts_full_vida_sustentavel:before { content: "" }
.icon-itaufonts_full_vida:before { content: "" }
.icon-itaufonts_full_video:before { content: "" }
.icon-itaufonts_full_word:before { content: "" }
.icon-itaufonts_full_compartilhar:before { content: "" }
.icon-itaufonts_full_feedback:before { content: "" }
.icon-itaufonts_full_relatorios_financeiros:before { content: "" }
.icon-itaufonts_full_senha_fill:before { content: "" }
.icon-itaufonts_txt_full:before { content: "" }
.icon-itaufonts_txt_outline:before { content: "" }
.icon-itaufonts_itaupass_full:before { content: "" }
.icon-itaufonts_itaupass_outline:before { content: "" }
.icon-itaufonts_csv_full:before { content: "" }
.icon-itaufonts_csv_outline:before { content: "" }
.icon-itaufonts_qrcode:before { content: "" }
.icon-itaufonts_link_externo_full:before { content: "" }
.icon-itaufonts_link_externo_outline:before { content: "" }
.icon-itaufonts_diario_outline:before { content: "" }
.icon-itaufonts_diario_full:before { content: "" }
.icon-itaufonts_metro_outline:before { content: "" }
.icon-itaufonts_metro_full:before { content: "" }
.icon-itaufonts_onibus_outline:before { content: "" }
.icon-itaufonts_onibus_full:before { content: "" }
.icon-icone_cartao_virtual:before { content: "" }
.icon-itaufonts_presente_negativo:before { content: "" }
.icon-itaufonts_presente_outline:before { content: "" }
.icon-itaufonts_presente:before { content: "" }
.icon-itaufonts_flash_desabilitado:before { content: "" }
.icon-itaufonts_flash_habilitado:before { content: "" }
.icon-itaufonts_flash_desabilitado_full:before { content: "" }
.icon-itaufonts_loja_full:before { content: "" }
.icon-itaufonts_loja:before { content: "" }
.icon-itaufonts_recarga:before { content: "" }
.icon-itaufonts_euro:before { content: "" }
.icon-itaufonts_desafios1:before { content: "" }
.icon-itaufonts_desafios_full:before { content: "" }
.icon-itaufonts_desafios:before { content: "" }
.icon-itaufonts_outline_ordenar_crescente:before { content: "" }
.icon-itaufonts_outline_ordenar_decrescente:before { content: "" }
.icon-itaufonts_cadastro_positivo:before { content: "" }
.icon-itaufonts_full_xicara:before { content: "" }
.icon-itaufonts_outline_carteiras_digitais:before { content: "" }
.icon-itaufonts_outline_swipe:before { content: "" }
.icon-itaufonts_outline_selecao_terceiros:before { content: "" }
.icon-itaufonts_outline_caminhao:before { content: "" }
.icon-itaufonts_outline_caminhonete:before { content: "" }
.icon-itaufonts_outline_moto:before { content: "" }
.icon-itaufonts_chip_outline:before { content: "" }
.icon-itaufonts_outline_checkbox_indeterminado:before { content: "" }
.icon-sair:before { content: "" }
.icon-itaufonts_outline_timeline:before { content: "" }
.icon-itaufonts_outline_copiar:before { content: "" }
.icon-itaufonts_outline_responder:before { content: "" }
.icon-itaufonts_outline_seguro_fraude:before { content: "" }
.icon-itaufonts_outline_beleza:before { content: "" }
.icon-itaufonts_outline_ordenar:before { content: "" }
.icon-itaufonts_outline_checkbox:before { content: "" }
.icon-itaufonts_outline_enviar:before { content: "" }
.icon-itaufonts_outline_suporte:before { content: "" }
.icon-itaufonts_outline_compras:before { content: "" }
.icon-itaufonts_outline_carteira_digital:before { content: "" }
.icon-itaufonts_outline_seguro_pet:before { content: "" }
.icon-itaufonts_outline_pet:before { content: "" }
.icon-itaufonts_outline_olho_inativo:before { content: "" }
.icon-itaufonts_outline_olho_ativo:before { content: "" }
.icon-itaufonts_vestuario:before { content: "" }
.icon-itaufonts_chat_erro:before { content: "" }
.icon-itaufonts_chat_aguardando:before { content: "" }
.icon-itaufonts_microfone:before { content: "" }
.icon-itaufonts_chat_entregue:before { content: "" }
.icon-itaufonts_chat_enviado:before { content: "" }
.icon-itaufonts_senha_stroke_slim:before { content: "" }
.icon-itaufonts_atendimento_2:before { content: "" }
.icon-itaufonts_venda:before { content: "" }
.icon-itaufonts_compra:before { content: "" }
.icon-itaufonts_seta_achatada_up:before { content: "" }
.icon-itaufonts_seta_achatada:before { content: "" }
.icon-itaufonts_menu_hamburguer:before { content: "" }
